.notes_names {
    position: relative;
}

.menuButton {
    position: absolute;
    right: 20px;
    top: 16px;
    height: 35px;
    font-size: large;
    width: 20px;
    border: none;
    opacity: 0.7;
    color: #FFF;
    font-weight: bold;
    line-height: 0.3em;
    outline: none;
    border-radius: 4px;
    background-color: rgb(226, 194, 13);
    line-height: 5px;
    padding-left: 7px;
    padding-bottom: 10px;
}

.menuButton:hover {
    opacity: 1;
}

.displayNone {
    display: none;
}

.outer_wrapper_trashMenuButton {
    z-index: 999;
    color: black;
    position: absolute;
    top: 0px;
    right:  0px;
    /* height: 40px; */
    opacity: 1;
    /* width: 100px; */
    display: flex;
    flex-direction: row;
    /* content: ""; */
}

.menuButtonList_item {
    border: none;
    background-color: #DDD;
    width: 130px;
    height: 35px;
    outline: none;
    display: block;
}

.menuButtonList_item:hover {
    background-color: #666;
}

.menuButtonList_item:focus {
    background-color: #999;
}

.restore {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
}

.final_delete {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.trashedMenuButtonList_wrapper {
    position: absolute;
    top: 15px;
    right: -90px;
}