.notes_names {
    display: flex;
    justify-content: center;
    padding: 22px;
    position: relative;
    text-overflow: clip;
}

.notes_names:hover {
    background-color: #333;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.active {
    background-color: #f7d66d;
    color: #333;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .active:hover {
    background-color: #fad24e;
    color: #333;
  }
  
  .note_title_content {
    padding-right: 20px;
  }