
.add_wrapper {
  background-color: #252525;
    /* border-radius: 10px 0 0 10px; */
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  /* border: 3px solid red; */
  min-height: 300px;
}

.wrapper {
  margin-top: 30px;
  width: 1200px;
  display: flex;
  margin: 0 auto;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid #999;
  box-shadow: 3px 5px 15px 5px #999;
}

.notes_name_wrapper {
  color: #DDD;
  width: 350px;
}

.active {
  background-color: #f7d66d;
  color: #333;
}

.notes_names {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.notes_names:hover {
  opacity: 0.6;
}

.note_area {
  padding: 45px;
}

.seach_everywere {
  background-color: #343233;
}



.notes_title {
  font-weight: 800;
}




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
