
.add_wrapper {
  background-color: #252525;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  min-height: 300px;
  height: 100%;
}

.wrapper {
  margin-top: 30px;
  width: 1200px;
  display: flex;
  margin: 0 auto;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid #999;
  box-shadow: 3px 5px 15px 5px #999;
}

.notes_name_wrapper {
  color: #DDD;
  width: 350px;
}

.notes_names {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.notes_names:hover {
  opacity: 0.6;
}

.note_area {
  padding: 45px;
}

.seach_everywere {
  background-color: #343233;
}



.notes_title {
  font-weight: 800;
}

.active {
  background-color: #f7d66d;
  color: #333;
}

.active:hover {
  background-color: #f8cb37;
  color: #333;
}

.main {
  display: block;
  width: 100%;
  height: 100%;
}