.wrapper {
    padding: 26px;
}

.wrapper:after {
    display: block;
    width: 210px;
    content: '';
    position: absolute;
    border-bottom: 2px solid gray;
    top: 36px;
    left: 140px; 
}
.outer_wrapper {
    position: relative;
}